extends ../layouts/auth-layout
block styles
    link(rel="stylesheet", href="/css/pages/auth.css")
block content
    .auth
        .auth__container
            .auth__header Login
            if errorMessage
                span= errorMessage
            form(action="/login" method="POST")
                include ../components/inputs/csrf
                .mb-3
                    include ../components/inputs/email
                .mb-3
                    include ../components/inputs/password
                .mb-3.d-flex.justify-content-between
                    .form-check
                        input.form-check-input(type="checkbox" id="remember" name="remember")
                        label.form-check-label(for="remember") Remember me
                    a(href="/forget-password") Forget password
                .mb-3
                    button.btn.btn-primary.w-100(type="submit") Login
                .d-flex.align-items-center.gap-2
                    span Dont have account?
                    a(href="/sign-up") Sign up