header.header
    .header__container
        ul.header__links
            li
                a.header__link(href="/") Shop
            li
                a.header__link(href="/admin/add-product") Add product