block styles
    link(rel="stylesheet", href="/css/components/header.css")

.header
    .header__container
        .header__item
            .header__links
                a.header__link(href="/") Home
                a.header__link(href="/cart") Cart
        .header__item
            if user
                .header__username-container
                    .header__username
                        span #{user.full_name}
                        i.fa-solid.fa-angle-down
                    .header__account-options
                        a.header__account-option(href="/logout")
                            span Sign out
                            i.fa-solid.fa-right-from-bracket
            else
                .header__login-btn
                    a(href="/login") Login