.header
    .header__container
        .header__item
            a.header__link(href="/") Shop
            a.header__link(href="/cart") Cart
        .header__item
            .header__username Admin
                .header__account-options
                    a.account-options__item(href="/sign-out") Log out