:root {
    --primary: rgb(214, 45, 45);
    --text: #333;
}

* {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:visited {
    text-decoration: none !important;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
}
